/backend/node_modules
/backend/.env
/backend/.env.docker
/backend/npm-debug.log*

/frontend/.dart_tool/
/frontend/.idea/
/frontend/.packages
/frontend/.flutter-plugins
/frontend/.flutter-plugins-dependencies
/frontend/build/
/frontend/ios/.symlinks/
/frontend/ios/Pods/
/frontend/ios/Flutter/App.framework
/frontend/ios/Flutter/Flutter.podspec
/frontend/*.keystore
/frontend/*.jks
/frontend/key.properties

.DS_Store
.vscode/